# Virtual env
venv/

# Data (optional: keep raw only)
data/processed/
data/raw/*
dataset/*

# Models
models/trained/
models/exported/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
